@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1.315rem;
}

h1 {
	font-size: 3rem;
}
.container {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
}

.hero {
	padding: 100px 0;
	background-color: #23424a;
	color: white;
}

.hero__text {
	width: 65%;
}

.hero p {
	margin-bottom: 3em;
}

.btn {
	display: inline-block;
	text-decoration: none;
	background-color: #38cfd9;
	padding: 0.75em 2em;
	border-radius: 30px;
	color: #23424a;
	font-weight: 900;
}

.btn:hover,
.btn:focus {
	opacity: 0.75;
}
